
.aside {
    display: none;
    width: 300px;
    height: 600px;
    border-image: linear-gradient(45deg ,#F73A38  90%,#FFF324 100%) ;
    border: 10px solid transparent;  
    border-radius: 20px; 
    background: linear-gradient(10deg,#F73A38,#FFF324) border-box;
    @media (min-width: 1200px) {

        display: block;
     }
}

.border{
    width: 300px;
    height: 600px;
    background-image: url('/icon-main/ads.webp');
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.title,.sixe{
    margin: 0;
    padding-top: 240px;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: #FCFCFC;
}
.sixe{
    font-size: 40px;
    padding:0px
}