body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app.dark .container{
  background-color: #0E1219;
}

.app.light .container{
  background-color: rgb(255, 255, 255);
}

/* .app.dark p,
.app.dark h3,
.app.dark h1{
 color: white;
}

.app.light p,
.app.light h3,
.app.light h1{
 color: rgb(0, 0, 0);
} */