body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}
.app{
border-bottom: 5px solid white;
  background-color: rgb(255, 255, 255);
  margin-bottom: 50px;
}
.dark {
  background-color: #0E1219;
  border-bottom: 5px solid #0E1219;
}

.light{
  border-bottom: 5px solid white;
  background-color: rgb(255, 255, 255);
}

ul{ list-style: none;}
li{
  cursor: pointer;
}