.container{
   height: 234px; 
    padding: 20px;
   background-color: #ffffff;
   margin-bottom: 50px;
   @media (min-width: 1200px) {
    margin: 0 15%;
    margin-bottom: 50px;
    border-radius: 40px;
 }
}

.section {

    border-radius: 40px;
    height: 175px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('/icon-main-header-block/bg.webp');
  }

  .sectionTop { 
    border-radius: 40px;
    height: 175px;
    background-color: #3f385d8e;
  }

  .menu{}

  .nav{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
  }