.container{
    margin-bottom: 100px;
}
.mainContainer{
    margin-top: 50px;
    display: flex;
    background-color: rgb(255, 255, 255);
    @media (min-width: 810px) {
        margin: 0 15%;
    }

}
.mainContent{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 gap: 18px;
 @media (min-width: 1200px) {
    margin-right: 50px;
}
}

.light {
    background-color: rgb(251, 251, 251);
}

.dark{
    color: #707070;
    background-color: #0E1219;
}