.container{
    background-color: red;

}

.mainContainer{
    margin: 0 15%;
    display: flex;
    background-color: rgb(0, 255, 30);
    @media (min-width: 810px) {

       
    }
}

.mainContent{
 display: flex;
 flex-wrap: wrap;
}
.mainContentItem{}
.itemImage{
    width:310px ;
    height:171px ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/icon-main/imgmain.webp');
    @media (min-width: 1010px) {

        width:347px ;
        height:171px ;
    }
}
.mainBlockImg{
    border-radius: 20px;
    width:300px ;
    height:600px ;
    background-image: url('/icon-main/ads.webp');
    background-color: #FCB738;
}